
@{
    ViewBag.Title = "EnviarPruebaCola";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mensaje enviado a la cola</h2>

<div class="col-md-5 pr-1">
    <div class="form-group">
        <a href="@(Url.Action("TicketList","Estrategia"))">Back to List</a>
    </div>
</div>

